@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
#PersonalToolbar {
    min-height: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
    -moz-transition-property: all;
    -moz-transition-delay: 1.0s;
    -moz-transition-duration: 0.4s;
    -moz-transition-timing-function: ease;
}
#navigator-toolbox:hover > #PersonalToolbar {
    min-height: 26px !important;
    height: 26px !important;
    -moz-transition-property: all;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease;
}